<?xml version="1.0"?>
<root xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ConfigParam xsi:type="ConfigParametrNumber">
    <Name>DelayTime</Name>
    <Comment>Время задержки после выполнения действия, мс</Comment>
    <Value>1</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrNumber">
    <Name>TimeoutTime</Name>
    <Comment>Время ожидания выполнения действия, мс</Comment>
    <Value>30000</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>ChromeDriverName</Name>
    <Comment>Наименование файла СhromeDriver</Comment>
    <Value>chromedriver.exe</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>ChromePath</Name>
    <Comment>Путь до файла СhromeDriver</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>FirefoxDriverName</Name>
    <Comment>Наименование файла FirefoxDriver</Comment>
    <Value>geckodriver.exe</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>FirefoxPath</Name>
    <Comment>Путь до файла FirefoxDriver</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>InternetExplorerDriverName</Name>
    <Comment>Наименование файла InternetExplorerDriver</Comment>
    <Value>IEDriverServer.exe</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>InternetExplorerPath</Name>
    <Comment>Путь до файла InternetExplorerDriver</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>Ports</Name>
    <Comment>Список используемых браузерами портов. Для интервала использовать ".."</Comment>
    <Value>1,2;3..5</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>DownloadPath</Name>
    <Comment>Местоположение скачанных файлов по умолчанию</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>CloseOnComplete</Name>
    <Comment>Закрыть Robot.Runner после исполнения робота</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>DisplayResult</Name>
    <Comment>Выводить результат исполнения робота по завершению</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>LogsFolder</Name>
    <Comment>Путь к папке с логами Robot.Runner. По умолчанию используется «% temp% \ Robot.Runner».</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>FilesFolder</Name>
    <Comment>Путь к папке с файлами робота. По умолчанию: «% localAppData% \ Robot.Runner»</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailServer</Name>
    <Comment>Почтовый сервер</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrNumber">
    <Name>MailPort</Name>
    <Comment>Почтовый порт</Comment>
    <Value>0</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailUser</Name>
    <Comment>Почтовый пользователь</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailPassword</Name>
    <Comment>Пароль пользователя почты</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailAllList</Name>
    <Comment>Список получателей уведомлений об исполнении робота. Перечислить через ';' или ","</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>MailAllWithLogs</Name>
    <Comment>Прикрепить лог к письму с информацией об исполнении робота</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>MailFailureList</Name>
    <Comment>Список получателей уведомлений об ошибках исполнения робота.Перечислить через ';' или ","</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>MailFailureWithLogs</Name>
    <Comment>Прикрепить файл с ошибками исполнения робота к уведомлению</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>ServerURL</Name>
    <Comment>Web socket server URL.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrNumber">
    <Name>Frequency</Name>
    <Comment>Frequency, ms.</Comment>
    <Value>1000</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>AgentName</Name>
    <Comment>Agent name. Unique identifier.</Comment>
    <Value>DESKTOP-TP5IPB3</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>Tags</Name>
    <Comment>Available applications.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>Repos</Name>
    <Comment>Available repositories.</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>GitURL</Name>
    <Comment>Git url. [obsolete]</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>GitLogin</Name>
    <Comment>Git login. [temp]</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrString">
    <Name>GitPassword</Name>
    <Comment>Git password. [temp]</Comment>
    <Value />
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>DisableKeyboard</Name>
    <Comment>Отключение клавиатуры (во время выполнения робота)</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>DisableMouse</Name>
    <Comment>Отключение мыши (во время выполнения робота)</Comment>
    <Value>false</Value>
  </ConfigParam>
  <ConfigParam xsi:type="ConfigParametrBoolean">
    <Name>EnableSSL</Name>
    <Comment>Включить SSL для писем</Comment>
    <Value>true</Value>
  </ConfigParam>
</root>